*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ubuntu', sans-serif;
}

body{
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 100vh;
    background: #fff;

}

.card{
    position: relative;
    width:360px;
    min-height: 400px;
    background: #fff;
    box-shadow: 15px 15px 60px rgba(0, 0, 0, 0.15);
    padding: 20px;
}

.card .top{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.card .top .userDetails .profile_img{
    position: relative;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 8px;

}

.cover{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9; 
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #ffcc00; 
}

form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff; 
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
}

p {
    margin-bottom: 10px;
    color: #666; 
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 5px;
}

label {
    color: #333; 
}

input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #ffcc00; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #ffdb4d; 
}
