*{
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(253, 253, 166);
}


.toe {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fafafa;
    border-top: 1px solid #ddd;
}

.navbarD {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.navbarD a {
    color: #333;
    text-decoration: none;
}

.navbarD img {
    width: 20px;
    height: 20px;
}
