<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friends</title>
    <link rel="stylesheet" href="friends.css">
</head>
<body>
    
    <div class="head">
        <div class="navbar">
            <a href="index.html" target="_blank">
                <img src="img/duckitologo.jpg" width="100px" height="100px" alt="">
            </a>
        </div>
    </div>
    
    <div class="quisas">
        <div class="Gente que quisás conozcas">Quisás conozcas</div>
        
        {% for amigo in posibles_amigos %}
        <div class="usU">
            <div class="headerD">
                <img src="img/profile_picture.webp" alt="Profile Picture">
                <div class="username">{{ amigo.nombre }}</div>
            </div>
            
            <div class="actionsD">
                <button>FOLLOW</button>
            </div>
        </div>
        {% endfor %}
        
    </div>

    <div class="toe">
        <div class="navbarD">
            <a href="index.html" target="_blank">
                <img src="img/Home.png" width="20px" height="20px" alt="">
            </a>
        
            <a href="explore.html" target="_blank">
                <img src="img/lupa.png" width="20px" height="20px" alt="">
            </a>
        
            <a href="YourPost.html" target="_blank">
                <img src="img/tuperfil.png" width="20px" height="20px" alt="">
            </a>

            <a href="friends.html" target="_blank">
                <img src="img/amigos.png" width="20px" height="20px" alt="">
            </a>
        </div>
    </div> 

    <div class="friend-info">
        <h2>Nombres de los posibles amigos:</h2>
        <p>{{ posibles_amigos | map(attribute='nombre') | join(', ') }}</p>
    </div>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>
</html>
