<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirecting to Friends</title>
</head>
<body>
    <script>
        // Redireccionar automáticamente a friends.html después de 3 segundos
        setTimeout(function() {
            window.location.href = "http://127.0.0.1:5500/templates/friends.html";
        }, 3000); // Cambiar el valor a 3000 para redirigir después de 3 segundos
    </script>
    <p>Redirecting to Friends...</p>
</body>
</html>
